@CHARSET "UTF-8";
/******* GENERAL RESET *******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody,
 tfoot, thead, tr, th, td, select, input {
border:0pt none;
font-family:inherit;
font-size: 11px;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-style:inherit;
font-weight:inherit;
margin:0pt;
padding:0pt;
vertical-align:baseline;
}
body{
 	line-height:1.5;
	margin:0pt;
	cursor:default;
}

h1{
	font-weight: 700;
	font-size: 24px;
	color: #0891BF;
	font-family: Calibri,"DroidSans",Helvetica,Arial,sans-serif; 

}

h2 { 
	font-size: 20px;
	color:#333333; 
	font-family: Calibri,"DroidSans",Helvetica,Arial,sans-serif;
	margin:0;
}

table{
	width:100%;
}

table .list{
	border-top:1px solid #EEE;
	border-left:1px solid #EEE;
	border-right:1px solid #EEE;

}

th{
	background:#D9EDFA;
    border: 0 1px solid #D8D8D8;
    padding: 5px;
	font-weight:bold;
	text-align:center;
}

td{
    border-style: solid;
    margin: 0;
}

tr .grey{
	background:#F2F2F2;
    border: 1px solid #000000;
}

li {
	list-style-type:none;
}

a {color:#0891BF;text-decoration:none;}
a:visited {color:#0891BF;text-decoration:none;}
a:hover   {color:#0891BF;text-decoration:none;}
a:active  {color:#0891BF;text-decoration:none;} 

#centered
{ 
	width: 100%; /* set to desired width in px or percent */
	text-align: left; /* optionally you could use "justified" */
	border: 0px; /* Changing this value will add lines around the centered area */
	padding: 0;  
	margin: 0 auto; 
} 

.clear{  
    clear: both;  
    height: 0;  
    visibility: hidden;  
    display: block;  
}  

.borderbotom{
	border-bottom:1px solid #f0f0f0;
}

.borderleft{
	border-left:1px solid #CCC;
	padding-left:10px;
}

#top_navigation {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    height: 15px;
    margin-top: 0;
    opacity: 0.5;
    padding: 10px 0;
    width: 100%;
}

#container{
	padding:10px 10px 10px 10px;
	height:15px;
	background:  repeat-x scroll 0 0 #1A5DBA;

}

#container .main{
	padding: 10px;
	background-color:#FFFFCC;-moz-border-radius: 5px;border-radius: 5px;
	width:670px;
	float:left;
}
#container .side{
	padding:10px;
	margin:0 0 0 10px;
	background-color:#FFFFCC;-moz-border-radius: 5px;border-radius: 5px;
	width:120px;
	float:left;
}


#content{
}

#content .box{
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	margin:35px 0 0 0;
	padding:0.25em 1em;
	border:1px solid #f0f0f0;
	width:97%;
}

#content .main{
	padding: 10px;
	margin: 10px;
	width:70%;
	float:left;
}

#content .side{
	padding: 10px;
	margin: 10px;
	width:20%;
	float:left;
}

#content .submain{
	float:left;
	padding:10px 0 10px 20px;
	border:3px solid #00000;
	width:200px;
}

#content .subside{
	float:right;
}


/************************************************
*					Main Navigation
************************************************/

#menu{ margin:0px; padding:0px; list-style:none; color:#fff; line-height:45px; display:inline-block; float:left; z-index:1000; }
#menu a { color:#fff; text-decoration:none; }
#menu > li {background:#172322 none repeat scroll 0 0; cursor:pointer; float:left; position:relative;padding:0px 10px;}
#menu > li a:hover {color:#B0D730;}
#menu .login {background:transparent none repeat scroll 0% 0%; padding:0px; background-color:Transparent;}

/* sub-menus*/
#menu ul { padding:0px; margin:0px; display:block; display:inline;}
#menu li ul { position:absolute; left:-10px; top:0px; margin-top:45px; width:200px; line-height:16px; background-color:#172322; color:#0395CC; /* for IE */ display:none; }
#menu li ul li{ display:block; margin:5px 20px; padding: 5px 0px;  border-top: dotted 1px #606060; list-style-type:none; }
#menu li ul li:first-child { border-top: none; }
#menu li ul li a { display:block; color:#0395CC; }
#menu li ul li a:hover { color:#7FCDFE; }

/* main submenu */
#menu #main { left:0px; top:-15px; padding-top:20px; background-color:#7cb7e3; color:#fff; z-index:99;}

/* search */
.searchContainer div { background-color:#fff; display:inline; padding:5px;}
.searchContainer input[type="text"] {border:none;}
.searchContainer img { vertical-align:middle;}

/* corners*/
#menu .corner_inset_left { position:absolute; top:0px; left:-12px;}
#menu .corner_inset_right { position:absolute; top:0px; left:150px;}
#menu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px; border:none; position:relative; border:none; height:0px;}
#menu .corner_left { position:absolute; left:0px; top:0px;}
#menu .corner_right { position:absolute; left:182px; top:0px;}
#menu .middle { position:absolute; left:18px; height: 20px; width: 165px; top:0px;}

/************************************************
*				Tabs
************************************************/
#form_fieldset  {
    border-top: 1px solid #d0ccc9;  

}
#form_fieldset  .input  {
	padding:0 0 0 10px;
}

#box {  
    width: 100%;  
}  
#box #container{  
    margin: 10px;  
    width: 70%;
	float:left;
	background: #FFFFFF;
}  
#box #container ul{  
    list-style: none;  
    list-style-position: outside;  	
}  

#box #container ul.menu li{  
    float: left;  
    font-weight: bold;  
    display: block;  
	padding:3px 10px;
    background-color: #1A5DBA;  
    margin-bottom: -1px;  
    margin-right: 5px;  
    border-width: 1px 1px 1px 1px;  
    position: relative;  
    color: #FFF;  
    cursor: pointer;  
 	box-shadow: 2px -1px 1px #888888;
 	-moz-box-shadow: 2px -1px 1px #888888;
 	-webkit-box-shadow: 2px -1px 1px #888888;

}  
#box #container ul.menu li.active{  
 	box-shadow: 2px -1px -1px #888888;
	border: 1px solid #d0ccc9;  
    background: #fff;  
    top: 1px;  
    border-bottom: 0;  
    color: #1A5DBA;  
}  

#box  #bar{
	font-weight:bold;
	padding:5px 10px;
    background-color:#1A5DBA;
 	box-shadow: 2px -3px 3px #BDBDBD;
	color:#FFF;
	border-radius:3px;
}

#box #bar.green{
    background-color:#85BA1A;
}

#box .content{  
    margin: 0pt auto;  
    background: #efefef;  
    background: #fff;  
    border-top: 1px solid #d0ccc9;  
    text-align: left;  
    padding: 10px;  
    padding-bottom: 20px;  
    font-size: 12px;  
}  
#box .content h1{  
    line-height: 1em;  
    vertical-align: middle;  
    height: 24px;  
	border-bottom: 1px solid;
    font-size: 24px;  
}  

#box .content .1 h1{  

}  
#box .content .1{  
    display: block; 
	height:400px;
}  

#box .content .2 h1{  
    background: transparent url(images/tuts.jpg) no-repeat scroll left top;  
}  
#box .content .2{  
    display: none;  
}  

#box .content .3 h1{  
    background: transparent url(images/links.jpg) no-repeat scroll left top;  
}  
#box .content .3{  
    display: none;  
}  
#box .content .links a{  
    color: #5f95ef;  
}  

#box #cright{
	margin-top:20px;
    width: 25%;  
	float:left;
}

#cright	.comp_list{
	padding-left:20px;
	list-style-type:none;
}

#cright	.rel_list{
	padding-left:20px;
	list-style-type:none;
}

/************************************************ 
*               Button 
************************************************/

#container  .button_search {
    background-color: #D14836;
    background-image: -moz-linear-gradient(center top , #DD4B39, #D14836);
    border: 1px solid transparent;
    color: white;
    height: 26px;
    margin-left: 10px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    width: 100px;
}

#container  .button_search_small {
    background-color: #D14836;
    background-image: -moz-linear-gradient(center top , #DD4B39, #D14836);
    border: 1px solid transparent;
    color: white;
    height: 16px;
    padding-bottom: 10px;
    margin-left: 10px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    width: 80px;
}

#main  .button_login {
    background-color: #D14836;
    background-image: -moz-linear-gradient(center top , #DD4B39, #D14836);
    border: 1px solid transparent;
    color: white;
    height: 26px;
    margin-top: 10px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    width: 100px;
}


/***********************************************
*                  Input
***********************************************/
input[type=text],input[type=password],select{
	border:1px solid #C7C7C7;
	border-radius:5px;
	padding-left:3px;
}

#reg_input input[type=text]{
	width:300px;
}


#container .input_search {
    border: 1px solid #D1D1D1;
    height: 26px;
    width: 200px;
	margin: 0 10px 0 0;
}

#container .select_search {
    border: 1px solid #D1D1D1;
	margin: 0 10px 0 10px;
    height: 26px;
}

#footer{
	clear:both;
	text-align:center;
}

/***********************************************
*				Table Browse Vacancy
***********************************************/
#rounded-corner {
	float:left;
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
    width: 100%; 
}

#rounded-corner th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    border: 0px solid #FFFFFF ;
}
	
#rounded-corner td {
    background: none repeat scroll 0 0 #FFFFFF;
    
	border-bottom: 1px solid #f0f0f0;
}

#rounded-corner tbody tr:hover td {
	background:url('../images/bg-lw-list.png');
	background-repeat:repeat-x;
}

/***********************************************
*				Popup
***********************************************/

#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	
	z-index:100;
}
#popupContact{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:60%;
	width:658px;
	background:#FFFFFF;
	border:1px solid #cecece;
	border-radius:10px;
	z-index:101;
	padding:12px;
	font-size:13px;
	
}
#popupContact h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}
#popupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
}
#button{
	text-align:center;
	margin:100px;
}

/***********************************************
*				Message
***********************************************/
#msg{
	padding:0;
}

.failed{
	background-color: #F5C4C4;
	border: 1px solid #D6A5A5;
	color:#C43F3F;
	padding:2px;
	margin:10px 0;
	font-weight:bold;
	border-radius:5px;
}

.success{
	background-color: #E5F5C4;
	border: 1px solid #CBE398;
	color:#A1CC43;
	padding:2px;
	margin:10px 0;
	font-weight:bold;
	border-radius:5px;
}

.notify{
	background-color: #F5F4C4;
	background-image: -moz-linear-gradient(center top , #F4F78F, #ECF075)l
	background-repeat: repeat-x;
	border: 1px solid #E6E609;
	color:#BFAE3D;
	padding:2px;
	margin:10px 0;
	font-weight:bold;
	border-radius:5px;
}

.green{
	color:#219421;
	font-weight:bold;
}

.red{
	color:#CF1919;
	font-weight:bold;
}

.emptyResult{
    background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: #C43C35 #C43C35 #882A25;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    margin: auto;
    padding: 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/*************************************************
*			Onclick Button
*************************************************/
.buttons{
	padding:10px 0;
	text-align:center;
}

.buttons a, .buttons button{
    display:block;
    float:left;
	width:200px;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:10px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:3px 2px 3px 2px; /* Links */
	
	border-radius:10px;
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular, .buttons a.regular{
    color:#336699;
}
.buttons a.regular:hover, button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}


.buttonOrange, .buttonOrange:visited, .buttonOrange:active {
	color: #FFFFFF;
	background: -moz-linear-gradient(center top , #FFDD00 0pt, #FFC70F) repeat scroll 0 0 transparent;
	border: 0 solid #000000;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px #774F00;
	color: #673703;
	float: left;
	font: bold 12px "Helvetica Neue",Arial,sans-serif;
	padding: 5px 1px 5px 1px;
	margin:10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	width: 95px;
	text-align:center;
}

.buttonOrange:hover{
	background: -moz-linear-gradient(center top , #FFE600 0pt, #FFD714) repeat scroll 0 0 transparent;
	color: #7E4202;
	text-decoration: none;
}

.buttonGreen, .buttonGreen:visited, .buttonGreen:active {
	color: #EEE;
	background: -moz-linear-gradient(center top , #7CCF4C 0pt, #62A33C) repeat scroll 0 0 transparent;
	border: 0 solid #000000;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px #774F00;
	color: #FFFFFF;
	float: left;
	font: bold 12px "Helvetica Neue",Arial,sans-serif;
	padding: 5px 1px 5px 1px;
	margin:10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	width: 95px;
	text-align:center;
}

.buttonGreen:hover{
	background: -webkit-linear-gradient(center top , #69B33E 0pt, #79CC49) repeat scroll 0 0 transparent;-moz-linear-gradient(center top , #69B33E 0pt, #79CC49) repeat scroll 0 0 transparent;
	color: #FFFFFF;
	text-decoration: none;
}

.buttonSearch, .buttonSearch:visited, .buttonSearch:active {
	color: #EEE;
	background: -moz-linear-gradient(center top , #7CCF4C 0pt, #62A33C) repeat scroll 0 0 transparent;-webkit-linear-gradient(center top , #7CCF4C 0pt, #62A33C) repeat scroll 0 0 transparent;
	border: 0 solid #000000;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px #774F00;
	color: #FFFFFF;
	font: bold 12px "Helvetica Neue",Arial,sans-serif;
	padding: 5px 100px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	text-align:center;
}

.buttonSearch:hover{
	background: -moz-linear-gradient(center top , #69B33E 0pt, #79CC49) repeat scroll 0 0 transparent;-webkit-linear-gradient(center top , #69B33E 0pt, #79CC49) repeat scroll 0 0 transparent;
	color: #FFFFFF;
	text-decoration: none;
}

/*************************************************
*				Pelamar
*************************************************/
.photoProfile{
	background-color: #f0f0f0;
	border: 2px solid #b1b1b1;
	float:left;
}

.blue_title{
	width:100%;
	padding:2px 0;
	margin-bottom:10px;
    border-bottom:2px solid #1A5DBA;  
}

/*************************************************
*				Perusahaan
*************************************************/
h3 .title{
	font-size:17px;
}
#listLowongan .company{
	font-size:12px;
}



/*************************************************
*				Perusahaan
*************************************************/

#stat_iklan a {
    text-decoration:none;
}
 
#stat_iklan a:hover{
    text-decoration:none;
}
 
#stat_iklan div.button {
    width:600px;
    margin:0px auto;
    margin-top:50px;
}
 
#stat_iklan .postJobButton {
    font-weight:bold;
    color:#673703;
}
 
#stat_iklan .postJobButton {
    font:bold 14px "Helvetica Neue",Arial,sans-serif;
    padding:12px 20px;
    margin-right:30px;
}
 
#stat_iklan .buttonYellow {
    font:20px "Helvetica Neue",Arial,sans-serif;
    color:#7e4202;
    width:55px;
    padding:8px 25px;
    background-color:#fd0;
    background:-moz-linear-gradient(top,#fd0 0,#ffc70f);
    background:-webkit-gradient(linear,left top,left bottom,from(#fd0),to(#ffc70f));
    background:-o-linear-gradient(top,#fd0 0,#ffc70f);
    background:-ms-linear-gradient(top,#fd0 0,#ffc70f);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd00',endColorstr='#ffc70f',GradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd00',endColorstr='#ffc70f',GradientType=0);
    background:linear-gradient(top,#fd0 0,#ffc70f);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
    border:0 solid #000;-moz-box-shadow:0 1px 1px rgba(119,79,0,1);-webkit-box-shadow:0 1px 1px rgba(119,79,0,1);
    text-shadow:0 1px 0 rgba(255,255,255,0.4);
}
 
#stat_iklan .buttonYellow:hover {
    color:#7e4202;
    text-decoration:none;
    background-color:#ffe600;
    background:-moz-linear-gradient(top,#ffe600 0,#ffd714);
    background:-webkit-gradient(linear,left top,left bottom,from(#ffe600),to(#ffd714));
    background:-o-linear-gradient(top,#ffe600 0,#ffd714);
    background:-ms-linear-gradient(top,#ffe600 0,#ffd714);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe600',endColorstr='#ffd714',GradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe600',endColorstr='#ffd714',GradientType=0);
    background:linear-gradient(top,#ffe600 0,#ffd714);
}
 
#stat_iklan .buttonYellow:active {
    color:#7e4202;
    background:-moz-linear-gradient(top,#f1b80b 0,#ffc70d 35%,#ffc70d);
    background:-webkit-gradient(linear,left top,left bottom,from(#f1b80b),color-stop(0.35,#ffc70d),to(#ffc70d));
    background:-o-linear-gradient(top,#f1b80b 0,#ffc70d 35%,#ffc70d);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1b80b',endColorstr='#ffc70d',GradientType=0);
    background:linear-gradient(top,#f1b80b 0,#ffc70d 35%,#ffc70d);-moz-box-shadow:0 1px 0 rgba(255,255,255,.06),inset 0 1px 1px rgba(181,111,0,.68);-webkit-box-shadow:0 1px 0 rgba(255,255,255,.06),inset 0 1px 1px rgba(181,111,0,.78);
    text-shadow:0 1px 0 rgba(255,255,255,0.4);
}
 
/*************************************************
*				Lowongan
*************************************************/
#listLowongan .side-left{
	margin-right:10px;
	float:left;
	width:27%;
	border-right:1px solid #EEE;
}

#listLowongan .side-center{
	margin-right:10px;
	float:left;
	width:35%;
}

#listLowongan .title{
	font-size:15px;
	font-weight:bold;
}

#listLowongan .company{
	font-size:10px;
	font-weight:bold;
}

#listLowongan .small-detail{
	font-size:9px;
}

/**************************************************
*	Pagging
**************************************************/
div.paging {
    padding     : 2px 0;
    margin      : 2px 0;
    text-align  : right;
    font-family : Tahoma;
    font-size   : 12px;
}
div.paging a {
    padding             : 2px 6px;
    margin-right        : 2px;
    border              : 1px solid #DEDFDE;
    text-decoration     : none;
    color               : #0061DE;
    background-position : bottom;
}
div.paging a:hover {
    background-color: #0063dc;
    border : 1px solid #fff;
    color  : #fff;
}
div.paging span.current {
    border : 1px solid #DEDFDE;
    padding      : 2px 6px;
    margin-right : 2px;
    font-weight  : bold;
    color        : #FF0084;
}
div.paging span.disabled {
    padding      : 2px 6px;
    margin-right : 2px;
    color        : #ADAAAD;
    font-weight  : bold;
}
div.paging span.prevnext {   
  font-weight : bold;
}
div.paging span.prevnext a {
     border : none;
}
div.paging span.prevnext a:hover {
    display: block;
    border : 1px solid #fff;
    color  : #fff;
}

/***
* Detail Lowongan
***/

#DetailLowongan {}

#DetailLowongan  li,  #DetailLowongan  ol{
	padding-left:20px;
}

/***
* Daftar Pekerja
***/

.list_pekerja{	
	background-color: #DCEBF5;
	background-repeat: repeat-x;
	border: 1px solid #7BB3DB;
	color:#30354A;
	padding:2px;
	margin:10px 10px 10px 0;
	height:120px;
	border-radius:5px;
	box-shadow: 0 8px 6px -7px black;
}

/***********************
* notifikasi buble
***********************/
#noti_Container {
	margin:0;
    padding:0;
    position:relative;     /* This is crucial for the absolutely positioned element */
    width:16px;
    height:16px;
}
.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -3px;
    right:-82px;
    padding:0 5px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.75em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:5px;
    box-shadow:1px 1px 1px gray;
}

/******************************
* Label
******************************/
.green_tag {
    background-color: #2BAD55;
}
.grey_tag {
    background-color: #AAADAB;
}
.orange_tag {
    background-color: #F58300;
}
.red_tag {
    background-color: #C44141;
}
.Tag {
    border-radius: 0.2ex 0.2ex 0.2ex 0.2ex;
    padding: 1px 6px 2px;
}
.Tag {
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    line-height: 14px;
    padding: 1px 4px;
}